# Ensure lockfile includes dependencies for both Mac and CI (Linux)
# This prevents the "npm has a bug related to optional dependencies" error in CI.
supportedArchitectures[] = "os=linux,cpu=x64"
supportedArchitectures[] = "os=darwin,cpu=x64"
supportedArchitectures[] = "os=darwin,cpu=arm64"
